/* ACROSS PAGE STYLING - START */

body {
    background-color: rgb(155, 232, 255);
}

.header {
    position: relative;
}

.header img {
    border-radius: 5px 5px 70px 70px;
    max-width: 100%;
}

.title {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 10px;
    color: rgb(172, 204, 240);
    font-size: 2.25vh;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
 }

.navbar {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(24, 131, 99);
    width: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-size: 2.10vh;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
}

.navbar li a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 25%;
}

li a:hover {
    background-color: rgb(9, 243, 165);
}

.active {
    background-color: rgb(9, 243, 165);
    font-weight: 700;
}

h2  {
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;;
}

figcaption {
    font-family: 'Varela Round', sans-serif;
}

.footer {
    text-align: center;    
    font-family: 'Varela Round', sans-serif;
    margin-top: 4vh;
    background-color: rgb(111, 207, 252);
    padding-top: .5vh;
    padding-bottom: .5vh;
    border-radius: 5px;
}

/* ACROSS PAGE STYLING FOR TABLET - START */
@media screen and (min-width: 768px) {
    .title {
        font-size: 5vh;
    }

    .navbar li {
        font-size: 4vh;
        font-weight: 500;
    }

    .active {
        font-weight: 700;
        text-transform: uppercase;
    }
}
/* ACROSS PAGE STYLING FOR TABLET - END */

/* ACROSS PAGE STYLING - END */
/* HOME PAGE STYLING - START */

.introbox {
    justify-content: center;
    border-radius: 30px;
    background-color: whitesmoke;
}

.introbox img {
    justify-content: center;
    width: 80%;
    margin: 10%;
    border-radius: 30px;
}

.introbox p {
    border-radius: 30px;
    text-align: center;    
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-bottom: 2vh;
}

.homecaption {
    font-size: 2vh;
    text-align: center;
}

/* HOME PAGE STYLING FOR TABLET - START */
@media screen and (min-width: 768px) {    

    #tablet-style {
        font-size: 4vh;
    }

    .introbox {
        margin-left: 10%;
        margin-right: 10%;
    }

    .introbox img {
        display: block;
        margin: auto;
        width: 50%;
        padding-top: 5%;
        border-radius: 20px;
    }

    .introbox p {
        font-size: 2.5vh;
        padding-left: 5%;
        padding-right: 5%;
    }
}
/* HOME PAGE STYLING FOR TABLET - END */

/* HOME PAGE STYLING FOR DESKTOP - START */
@media screen and (min-width: 1024px) {
    .introbox {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .introbox img {
        width: 40%;
    }

    .introbox p {
        font-size: 3vh;
    }
}
/* HOME PAGE STYLING FOR DESKTOP - END */


/* HOME PAGE STYLING - END */
/* ABOUT ME PAGE STLYING - START */

.about-me-body {
    padding-left: 18px;
    padding-right: 18px;
}

.aboutmepage {
    font-size: 4vh;
}

.aboutmeparagraph1 {
    background-color: rgb(161, 211, 245);
    padding: 5px;
    border-radius: 10px;
}

.aboutmeparagraph2 {
    background-color: rgb(179, 226, 255);
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}

.aboutmeparagraph3 {
    background-color: rgb(161, 211, 245);
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}

.worklist {
    padding-top: 8px;
}

p, .worklist {
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vh;
}

.worklistparagraph {
    text-align: center;
}

.myresume h2 {
    font-size: 5vh;
}

/* ABOUT ME PAGE STYLING FOR TABLET - START */
@media screen and (min-width: 768px) {
    .aboutmeparagraph1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .aboutmeparagraph2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .aboutmeparagraph3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* ABOUT ME PAGE STYLING FOR TABLET - END */

/* ABOUT ME PAGE STYLING FOR DESKTOP - START */
@media screen and (min-width: 1024px) {
    .aboutmeparagraph1 {
        padding: 30px;
    }

    .aboutmeparagraph2 {
        padding: 30px;
    }

    .aboutmeparagraph3 {
        padding: 30px;
    }
}
/* ABOUT ME PAGE STYLING FOR END - START */

/* ABOUT ME PAGE STLYING - END */
/* BLOG PAGE STYLING - START */

.post-grid {
    display: flex;
    flex-direction: column; 
    width: 85%;   
    padding: 5%;
    /* border: white 5px solid; */
}

.grid-post {
    text-align: center;
    font-size: 2vh;
    border: white solid 2px;
    margin: 2%;
    background-color: rgb(194, 238, 255);
    border-radius: 10px;
    padding: 5px;
    /* border: black 5px solid; */
}

.grid-post p {
    text-align: left;
}

.grid-post h2  {
    font-size: 2.5vh;
    font-family: 'Varela Round', sans-serif;
}

.grid-post time {
    font-family: 'Goldman';
}

.grid-post img {
    width: 70%;
    height: auto;
}

.pending-image {
    width:  70%;
    height: auto;
}

/* BLOG PAGE STYLING FOR TABLET - START */
@media screen and (min-width: 768px) {    
    .post-grid {
        /* border: solid black 10px; */
        display: grid;
        grid: 100%;
        grid-template-rows: 82% 18%;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 5%
    }

    .grid-post {
        /* border: solid white 10px; */
        align-self: top;
    }
}
/* BLOG PAGE STYLING FOR TABLET - END */

/* BLOG PAGE STYLING FOR DESKTOP - START */
@media screen and (min-width: 1024px) {
    .post-grid {
        /* border: solid black 10px; */
        display: grid;
        grid: 100%;
        grid-template-rows: 72% 28%;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 5%
    }

    .grid-post {
        padding: 30px;
    }
}
/* BLOG PAGE STYLING FOR END - START */

/* BLOG PAGE STYLING - END */
/* CONTACT ME PAGE STYLING - START */

.contact-me-heading {
    text-align: center;    
    font-family: 'Architects Daughter', cursive;
    font-size: 3.5vh;
    font-weight: 400;
    margin-top: 2vh;
}

.contact-me-paragraph {
    display: flex;
    text-align: center;    
    font-family: 'Architects Daughter', cursive;
    font-size: 2vh;
    margin-bottom: 2vh;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vh;
}

.fname, .lname, .email {
    margin-bottom: 10px;
}

textarea {
    font-family: 'Varela Round', sans-serif;
    resize: none;
}

.connect-with-me {
    text-align: center;    
    font-family: 'Architects Daughter', cursive;
    font-size: 3vh;
}

/* CONTACT ME PAGE STYLING FOR DESKTOP - SOCIAL MEDIA LOGOS - START */
.social-media-box {
    display: flex;    
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
}

.social-media-image {
    flex-direction: column;
    height: auto;
    padding: 30px;
    margin: 0 auto;
    justify-self: center;
}

.social-media-box img {
    width: 200px;
}
/* CONTACT ME PAGE STYLING FOR DESKTOP - SOCIAL MEDIA LOGOS - END */


/* CONTACT ME PAGE STYLING FOR MOBILE - START */
@media screen and (min-width: 320px) {      
    .social-media-box {
        width: 90%;
        background-color: white;
    }
}
/* CONTACT ME PAGE STYLING FOR MOBILE - END */


/* CONTACT ME PAGE STYLING FOR TABLET - START */
@media screen and (min-width: 768px) {      
    .contact-me-paragraph {
        justify-content: center;
    }
}
/* CONTACT ME PAGE STYLING FOR TABLET - END */

/* CONTACT ME PAGE STYLING FOR DESKTOP - START */
@media screen and (min-width: 1024px) {  
    textarea {
        width: 500px;
    }
}
/* CONTACT ME PAGE STYLING FOR DESKTOP - END */


/* CONTACT ME PAGE STYLING - END */